head
	
	//Meta information

	meta(charset="utf-8")
	meta(name="description", content="Aapo Kiiso's personal website.")
	meta(name="author", content="Aapo Kiiso")
	meta(name="distribution", content="web")
	meta(http-equiv="Content-Language", content="en")
	
	//Favicon

	<!-- IE -->
	link(rel="shortcut icon", type="image/x-icon", href="/img/favicon.ico")
	<!-- other browsers -->
	link(rel="icon", type="image/x-icon", href="/img/favicon.ico")
	
	//Title

	- if(! title) title = "Aapo Kiiso"
	- else title += " | Aapo Kiiso"

	title #{title}

	//Fonts

	link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", type="text/css")
	link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:700|Open+Sans:400,600,700", type="text/css")

	//Stylesheet

	block css
	
	//Scripts

	//- First load RequireJS configuration. This happens synchronously since it doesn't load anything external. 
	script(src="/js/configure.js")

	block js
