/**
*	Dependencies
*/

@import "inc/init";

@include exports('normalize'){
		
	*{
		font-family: $base-font;
	}
	
	h1, h2, h3, h4, h5, h6{
		font-family: $title-font;
	}

	li{
		list-style-type: none;
	}
	
	hr{
		height: 1px;
		background: #ddd;
		border: 0;
	}
	
	i{
		position: relative;
	}
	
	.loader{
		text-align: center;
		margin: 10px auto;
	}
		
}

/**
*	Include components
*/

@import "inc/buttons";
@import "inc/clearfix";
