head
	
	//Meta information

	meta(charset="utf-8")
	meta(name="description", content="Aapo Kiiso's personal website.")
	meta(name="author", content="Aapo Kiiso")
	meta(name="distribution", content="web")
	
	//Favicon

	link(rel="icon", type="image/png", href="/img/favicon.png")
	
	//Title

	- if(! title) title = "Aapo Kiiso"
	title #{title}

	//Fonts

	link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", type="text/css")
	link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:400,700", type="text/css")

	//Stylesheet

	block css
	
	//Scripts

	//- First load RequireJS configuration. This happens synchronously since it doesn't load anything external. 
	script(src="/js/configure.js")

	block js
