extends includes/layout

block css
	link(href="/css/app/landing/index.css", rel="stylesheet", type="text/css")

block js
	script(data-main="app/landing/index", src="/js/vendor/require.js")

block content
	div#wrapper

		header#name
			h2 Aapo
			h1 Kiiso
			hr

		section#content

			p
				span I'm a web developer currently working at&nbsp;
				a(href="https://lamia.fi") Lamia Oy
				span .

			p.media-link(target="email")
				a(href="mailto:aapo@kii.so")
					i(class="fa fa-envelope")
					span aapo@kii.so

			p.media-link(target="twitter")
				a(href="https://twitter.com/aapokiiso")
					i(class="fa fa-twitter")
					span @aapokiiso

			p.media-link(target="github")
				a(href="https://github.com/aapokiiso")
					i(class="fa fa-github")
					span aapokiiso
