/**
*	Dependencies
*/
/**
*	Dependencies
*/
/**
*  Prevents import duplicates.
*/
/**
*	Dependencies
*/
/**
*  Prevents import duplicates.
*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* line 25, ../sass/vendor/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 33, ../sass/vendor/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 36, ../sass/vendor/_reset.scss */
body {
  line-height: 1;
}

/* line 39, ../sass/vendor/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 42, ../sass/vendor/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 46, ../sass/vendor/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 50, ../sass/vendor/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
*	Global variables
*/
/* line 9, ../sass/normalize.scss */
* {
  font-family: "Open Sans", sans-serif;
}

/* line 13, ../sass/normalize.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Helvetica;
}

/* line 17, ../sass/normalize.scss */
li {
  list-style-type: none;
}

/* line 21, ../sass/normalize.scss */
hr {
  height: 1px;
  background: #ddd;
  border: 0;
}

/* line 27, ../sass/normalize.scss */
a {
  text-decoration: none;
}

/* line 31, ../sass/normalize.scss */
i {
  position: relative;
}

/* line 35, ../sass/normalize.scss */
.loader {
  text-align: center;
  margin: 10px auto;
}

/**
*	Include components
*/
/**
*	Dependencies
*/
/**
*	Dependencies
*/
/**
*  Prevents import duplicates.
*/
/**
*	Dependencies
*/
/**
*  Prevents import duplicates.
*/
/**
*	Global variables
*/
/* line 9, ../sass/includes/_clearfix.scss */
.c {
  clear: both;
}

/* line 13, ../sass/includes/_clearfix.scss */
*[clearfix] {
  zoom: 1;
}

/* line 17, ../sass/includes/_clearfix.scss */
*[clearfix]:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/**
*	Dependencies
*/
/**
*	Dependencies
*/
/**
*  Prevents import duplicates.
*/
/**
*	Dependencies
*/
/**
*  Prevents import duplicates.
*/
/**
*	Global variables
*/
/* line 9, ../sass/components/_buttons.scss */
button {
  padding: 10px 18px;
  margin: 0;
  background: #acd183;
  color: #fff;
  font-size: 0.875em;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 0px 0px #709f5b;
  -moz-box-shadow: 0px 2px 0px 0px #709f5b;
  box-shadow: 0px 2px 0px 0px #709f5b;
  -webkit-transition: background 0.2s, box-shadow 0.2s;
  -moz-transition: background 0.2s, box-shadow 0.2s;
  -o-transition: background 0.2s, box-shadow 0.2s;
  transition: background 0.2s, box-shadow 0.2s;
}
/* line 20, ../sass/components/_buttons.scss */
button i {
  font-size: 0.9em;
  margin-right: 6px;
}

/* line 26, ../sass/components/_buttons.scss */
button:hover {
  background: #98bd6f;
  -webkit-box-shadow: 0px 2px 0px 0px #5c8b47;
  -moz-box-shadow: 0px 2px 0px 0px #5c8b47;
  box-shadow: 0px 2px 0px 0px #5c8b47;
}
