/* ----------------------------------------
 * Keyframes
 * ---------------------------------------- */

/* Shake */

@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(10px);
  }
}

/* Rotate */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ----------------------------------------
 * Base styles
 * ---------------------------------------- */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #000;
}

/* ----------------------------------------
 * Overlays
 * ---------------------------------------- */

.overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay__content {
  margin: 0 auto;
  max-width: 666px;
  position: relative;
}

/* Modifiers */

.overlay--character {
  background: #000 url('img/isammaa.svg') no-repeat 50% 50%;
  background-size: 100px;
}

.overlay--character .overlay__content {
  height: 100%;
}

/* App states */

.overlay--character.is-complete {
  background-image: url('img/svarje.svg');
}

/* Responsive styles */

@media (min-width: 768px) {
  .overlay__content {
    top: 50%;
    transform: translate(0, -50%);
    width: 90%;
  }

  /* Modifiers */
  .overlay--character .overlay__content {
    height: 400px;
  }
}

/* ----------------------------------------
 * Character selection
 * ---------------------------------------- */

.characters__message {
  animation: rotate linear 3s infinite;
  color: #f00;
  font-size: 2em;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  text-shadow: 0 2px 2px #000;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}

.character {
  border: 10px solid #f00;
  position: absolute;
  width: 100px;
  cursor: pointer;
}

.character__image {
  height: 100px;
  width: 100%;
}

.character__name {
  color: #fff;
  line-height: 1;
  margin: 0;
}

/* Modifiers */

.character__image--hover {
  display: none;
}

.character--sipila {
  left: 50%;
  top: 20px;
  transform: translate(-50%, 0);
}

.character--stubb {
  bottom: 20px;
  left: 20px;
}

.character--soini {
  bottom: 20px;
  right: 20px;
}

/* Pseudo states */

.character:hover .character__image {
  display: none;
}

.character:hover .character__image--hover {
  display: inline;
}

.character--sipila:hover {
  border-color: #71ad2c;
}

.character--stubb:hover {
  border-color: #003a54;
}

.character--soini:hover {
  border-color: #e4c255;
}

/* Responsive styles */

@media (min-width: 768px) {
  .character--sipila {
    top: -40px;
  }
}
