body {
  background-color: #fff;
}

#content {
  max-width: 30em;
  margin: 0 auto;
}

#foreword {
  font-style: italic;
}

/* Responsive styles */

@media (min-width: 1200px) {
  #content {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
