/**
*	Clearfix pseudo for clearing parent's content.
*/

.clearfix{
	zoom: 1;
}

.clearfix::after{
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/**
*	Standalone clearfix block for clearing mid-content.
*/

.clearfix-block{
	clear: both;
}
