/**
*	Dependencies
*/

@import "includes/init";

@include exports('clearfix'){

	.c{
		clear: both;
	}

	*[clearfix]{
		zoom: 1;
	}

	*[clearfix]:after{
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}

}
