/**
*  Dependencies
*/

@import "compass/css3";
@import "vendor/reset";

/**
*  Global variables
*/

/* Fonts */
$title-font: "Roboto", "Helvetica", sans-serif;
$base-font: "Open Sans", "Helvetica", sans-serif;

/* Ratios */
$golden-ratio: 1.618;

/* Media queries */
$media-small: "screen and (max-width : 480px)";
$media-large: "screen and (min-width : 481px)";
