/**
*	Dependencies
*/

@import "compass/css3";
@import "vendor/sass-import-once";
@import "vendor/reset";

/**
*	Global variables
*/

//Fonts
$base-font: 'Open Sans', sans-serif;
$title-font: 'Montserrat', Helvetica;

//Media queries
$media-small: "screen and (max-width : 480px)";
$media-large: "screen and (min-width : 481px)";
