@import "normalize";

body{
	background: #1A242E;
}

#wrapper{
	max-width: 480px;
}

@media #{$media-small}{
	#wrapper{
		margin: 1.25em 0.9em;
	}
}

@media #{$media-large}{
	#wrapper{
		margin: 2.5em;
	}
}

#name{
	line-height: 3.8em;
	overflow: hidden;

	h2{
		font-size: 2.5em;
		font-weight: bold;
		color: #929ca6;
	}

	h1{
		font-size: 4em;
		font-weight: bold;
		color: #fff;
		margin: 0.1em 0 0.1em -4px;
	}

	hr{
		float: left;
		width: 60%;
		height: 3px;
		margin: 1.25em 0;
		background: #fff;
	}
}

#content{
	line-height: 1.5em;

	p{
		color: #b7c3ce;
		margin-bottom: 1.25em;
	}

	p.media-link{
		margin-bottom: 0.4em;

		i{
			margin-right: 0.5em;
		}
	}

	p.media-link[target="github"] i{
		margin-right: 0.6em;
	}

	a{
		color: #fff;
	}

	a:hover{
		text-decoration: underline;
	}
}
